asgiref==3.5.0
Django==4.0.4
django-bona-blog==1.1.4
django-ckeditor==6.4.0
django-crispy-forms==1.14.0
django-filter==21.1
django-js-asset==2.0.0
django-taggit==2.1.0
django-tinymce4-lite==1.8.0
django-transaction-hooks==0.3
django-transactional-cleanup==0.1.15
djangorestframework==3.13.1
freeport==0.1.15
jsmin==3.0.1
Pillow==9.1.0
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
